<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/kitadmin/css/layui.css">
    <link rel="stylesheet" href="lib/kitadmin/css/theme/default.css" id="theme">
    <link rel="stylesheet" href="lib/kitadmin/css/nprogress.css">
</head>
<body>
<body>


<!-- build:js -->
<script src="lib/kitadmin/polyfill.min.js"></script>
<script src="lib/kitadmin/layui.js"></script>
<script src="lib/kitadmin/kitadmin.js"></script>
<script src="lib/kitadmin/mockjs-config.js"></script>
<script>
    layui.config({
        base: 'js/'
    }).use('index');
</script>
</body>
</html>