<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.word.dao.PhraseMapper" >
  <resultMap id="BaseResultMap" type="com.word.pojo.Phrase" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phrase" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phrase_Chinese" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updata_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, phrase, phrase_Chinese, create_time, updata_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phrase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phrase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.word.pojo.Phrase" >
    insert into phrase (id, phrase, phrase_Chinese, 
      create_time, updata_time)
    values (#{id,jdbcType=INTEGER}, #{phrase,jdbcType=VARCHAR}, #{phraseChinese,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updataTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.word.pojo.Phrase" >
    insert into phrase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phrase != null" >
        phrase,
      </if>
      <if test="phraseChinese != null" >
        phrase_Chinese,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phrase != null" >
        #{phrase,jdbcType=VARCHAR},
      </if>
      <if test="phraseChinese != null" >
        #{phraseChinese,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.word.pojo.Phrase" >
    update phrase
    <set >
      <if test="phrase != null" >
        phrase = #{phrase,jdbcType=VARCHAR},
      </if>
      <if test="phraseChinese != null" >
        phrase_Chinese = #{phraseChinese,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.word.pojo.Phrase" >
    update phrase
    set phrase = #{phrase,jdbcType=VARCHAR},
      phrase_Chinese = #{phraseChinese,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllphrase" resultType="com.word.pojo.Phrase">

    select <include refid="Base_Column_List"/>
    from phrase
  </select>
<select id="getCountPhrase" resultType="integer">
  select count(*) from phrase
</select>
  <delete id="deleteByPhraseId" parameterType="integer">
    delete phrase
    where  id = #{phrase_id}
  </delete>
</mapper>