<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.word.dao.WordBookMapper" >
  <resultMap id="BaseResultMap" type="com.word.pojo.WordBook" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="book_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_js" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_name as bookName, book_js
  </sql>

  <sql id="Base_Column_List_word" >
    ww.id, ww.word_name, ww.word_sound, ww.word_symbol, ww.word_image, ww.create_time, ww.update_time ,ww.word
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from words_word_book
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from words_word_book
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.word.pojo.WordBook" >
    insert into words_word_book (id, book_name, book_js)
    values (#{id,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookJs,jdbcType=VARCHAR} )
  </insert>

  <insert id="insertSelective" parameterType="com.word.pojo.WordBook" >
    insert into words_word_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookJs != null" >
        book_js,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookJs != null" >
        #{bookJs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.word.pojo.WordBook" >
    update words_word_book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookJs != null" >
        book_js = #{bookJs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.word.pojo.WordBook" >
    update words_word_book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_js = #{book_js,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllBook" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from  words_word_book
  </select>

  <select id="selectByBookId" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List"/>
    from words_word_book
  </select>

<select id="selectByBookId_List" parameterType="integer" resultType="com.word.pojo.Word">

  select <include refid="Base_Column_List_word"/>
  from words_book wb,words_word ww
  where wb.word_id = ww.id and wb.book_id = #{bookId}
</select>

<select id="showAllBook" resultType="com.word.pojo.WordBook">
    select <include refid="Base_Column_List"/>
    from words_word_book
  </select>
  <select id="showAllWordBook" resultType="WordBook">
    select <include refid="Base_Column_List"/>
    from words_word_book
  </select>
<select id="getCountWordBook" resultType="integer">
  select count(*) from words_word_book
</select>
  <delete id="deleteByBookId">
delete from words_word_book
where id = #{bookId}

  </delete>
  <insert id="insertWordToBook" parameterType="list">
    insert into words_book(book_id,word_id)
    values
    <foreach collection="wordlist" item="item" index="index" separator=",">
      (
      #{item},
      #{wordId}
      )
    </foreach>
  </insert>
</mapper>