<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.word.dao.WordAndCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.word.pojo.WordAndCategory" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="word_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="category_id" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, word_id, category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from words_word_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from words_word_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.word.pojo.WordAndCategory" >
    insert into words_word_category (id, word_id, category_id
      )
    values (#{id,jdbcType=INTEGER}, #{wordId,jdbcType=CHAR}, #{categoryId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.word.pojo.WordAndCategory" >
    insert into words_word_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wordId != null" >
        word_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wordId != null" >
        #{wordId,jdbcType=CHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.word.pojo.WordAndCategory" >
    update words_word_category
    <set >
      <if test="wordId != null" >
        word_id = #{wordId,jdbcType=CHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.word.pojo.WordAndCategory" >
    update words_word_category
    set word_id = #{wordId,jdbcType=CHAR},
      category_id = #{categoryId,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="checkCategoryAndWord" parameterType="map">
  select
  <include refid="Base_Column_List" />
    from  words_word_category
    <where>
      <if test="wordId != null">
        and word_id = #{wordId}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId}
      </if>
    </where>
  </select>
  <delete id="deleteBywordIdAndCategoryId">
    delete  from words_word_category
    <where>
      <if test="wordId != null">
        and word_id = #{wordId}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId}
      </if>
    </where>
  </delete>
  <select id="selectByCategoryId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    where category_id = #{categoryId}
  </select>
</mapper>